<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>

    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Todo List</h1>

    <div id="collections">
        {% for collection in collections %}
            {% include 'tasks/collections.html' with collection=collection %}
        {% endfor %}
    </div>


    <form method="post">
        {% csrf_token %}

        <input type="text" name="collection_name" id="">
        <button type="submit"
            hx-post="{% url 'add-collection' %}"
            hx-target="#collections"
            hx-swap="beforeend"
        >
            Ajouter
        </button>
    </form>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="task-description">
        <button type="submit"
            hx-post="{% url 'add-task' %}"
            hx-target="#tasks"
            hx-vals="js:{collection: getCollectionFromUrl()}"
            hx-swap="beforeend"
        >
            Ajouter
        </button>

    </form>

    <div id="tasks">
        {% include 'tasks/tasks.html' with tasks=tasks collection=collection %}
    </div>


    <script>
        document.body.addEventListener("htmx:responseError", (event) => {
            alert(event.detail.xhr.responseText)
        })

        function getCollectionFromUrl() {
            return (new URL(window.location.href)).searchParams.get('collection')
        }
    </script>
</body>
</html>